/* Styling for the experience component */
.experience-container {
    padding: 20px;
    text-align: center;
    background-color: var(--accent-blue);
  }

  
  .experience-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: var(--highlight-blue
    );
    padding: 10px;
    border-radius: 8px;
  }

  .experience-desc1 {
    color: var(--accent-blue);
  }
  .experience-desc2 {
    color: var(--accent-blue);
  }
  
  .experience-logo {
    width: 150px;
    height: auto;
  }
  
  .experience-details {
    flex-grow: 1;
    text-align: left;
    padding-left: 20px;
  }
  
  button {
    background-color: var(--accent-blue);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  