/* Styling for the Skills component */
.skills-container {
    padding: 20px;
    text-align: center;
    background-color: var(--accent-blue);
  }
  
  .hard-skills-section {
    margin-bottom: 40px;
  }
  
  .hard-skills-image {
    width: 300px;
    height: auto;
    border-radius: 8px;
  }
  
  .soft-skills-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .soft-skills-section li {
    font-size: 18px;
    margin: 10px 0;
  }
  